@charset "UTF-8";

html {
	font-size: 100%;
	height: 100%;
}

body {
	color: #663300;
	background-color: #f5deb3;
	font-family: 'Shippori Mincho', serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	height: 100%;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

li {
	list-style: none;
}

a {
	color: #663300;
	text-decoration: none;
}
a:hover {
	opacity: 0.7;
}


.uline {
	text-decoration: underline;
}

.mb5 {
	margin-bottom: 5px;
}
.mb20 {
	margin-bottom: 20px;
}

main .btn {
	border: solid 1px #663300;
	border-radius: 5px;
	display: inline-block;
	padding: 8px 80px;
}

#header {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
#header .logo {
	width: 32%;
	max-width: 150px;
	font-size: 28px;
}
#header .logo img {
	width: 23%;
}
#header .logo a {
	display: block;
}
#header .navi {
	width: 60%;
}
#header .navi .menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#header .navi .menu .name {
	font-size: 14px;
	display: inline-block;
	text-align: right;
	width: 70%;
	overflow-wrap: anywhere;
}
#header .navi .menu .logout {
	font-size: 14px;
	display: inline-block;
	width: 25%;
	margin-left: 20px;
}
#header .navi .menu .btn {
	border: solid 1px #663300;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 10px;
}


#footer {
	position: sticky;
	top: 100vh;
	width: 100%;
	height: 60px;
	background-image: url(../img/footer.png);
	background-size: 442px 60px;
	background-repeat: repeat-x;
}

main {
	max-width: 1040px;
	margin: 0 auto;
}

.wrapper {
	max-width: 980px;
	padding: 0 50px;
	margin: 0 auto;
}

/*---------------------------------------
スマートフォン
----------------------------------------*/
@media screen and (max-width: 767px) {

	#header .logo {
		max-width: none;
		font-size: 18px;
		width: 32%;
	}
	#header .logo img {
		width: 20%;
	}

	#header .navi .menu .name {
		width: 45%;
	}
	#header .navi .menu .logout {
		width: 50%;
		margin-left: 10px;
	}


	.wrapper {
		padding: 0 20px;
	}

}