@charset "UTF-8";

.login,
.user,
.comment {
	width: 50%;
	padding: 20px;
	margin: 0px auto;
}

.login .item .box,
.user .item .box,
.comment .item .box{
	width: 100%;
	border: solid 1px #663300;
	padding: 8px 8px;
}

.login .err_text,
.user .err_text,
.comment .err_text {
	color: red;
	margin-bottom: 10px;
}

.login .login_btn,
.user .user_btn,
.comment .user_btn {
	text-align: center;
}
.login button,
.user button,
.comment button {
	color: #663300;
	border: solid 1px #663300;
	border-radius: 5px;
	padding: 8px 40px;
	margin: 0 auto;
}
.login button:hover,
.user button:hover,
.comment button:hover{
	opacity: 0.7;
}

.user .btn_wrapper,
.comment .btn_wrapper {
	text-align: center;
}
.user .confirm_btn,
.comment .confirm_btn {
	display: inline-block;
	margin-left: 20px;
}


.user h1,
.comment h1 {
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
}

.user .warn_text,
.comment .warn_text {
	color:blue;
	font-size: 13px;
}

.comment .item .comment_text {
	overflow-wrap: anywhere;
}

main .btn {
	padding: 8px 40px;
}

/*---------------------------------------
スマートフォン
----------------------------------------*/
@media screen and (max-width: 767px) {

	.login,
	.user,
	.comment {
		width: 100%;
	}

	.user h1,
	.comment h1 {
		font-size: 23px;
	}

}