@charset "UTF-8";

.question,
.answer,
.result,
.score {
	text-align: center;
}

.text_title {
	font-size: 24px;
	margin-bottom: 5px;
	letter-spacing: 5px;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item .img {
	width: 30%;
}
.item .correct img {
	width: 40%;
	display: block;
	margin: auto;
}
.item .text_q,
.item .correct {
	width: 60%;
	margin-left: 30px;
	border: solid 1px #663300;
	border-radius: 5px;
	padding: 30px 10px;
	font-size: 20px;
	line-height: 2;
	position: relative;
}
.item .text_q::after,
.item .correct::after {/*吹き出しを作る*/
	content: "";
	width: 18px;
	height: 18px;
	background-color: #f5deb3;
	border-right: solid 1px #663300;
	border-bottom: solid 1px #663300;
	position: absolute;
	transform: rotate(135deg);
	top: 45%;
	left: -10px;
}

.select .btn {
	width: 30%;
	height: 50px;
	margin: 10px;
	padding: 5px 10px;
	color: #663300;
}
.select .btn:hover{
	opacity: 0.7;
}

.question .text {
	margin-top: 20px;
	padding-right: 10px;
	font-size: 12px;
	text-align: right;
}

.question .select {
	display: flex;
	justify-content: center;
	align-items: center;
}



.answer .text {
	margin: 20px auto;
}

.result .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}
.result .text_score {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 5px;
	padding-right: 20px;
}
.result .img_medal {
	padding-left: 20px;
}

.result .item_medal {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}
.result .item_medal img {
	width: 30%;
	vertical-align: middle;
}
.result .item_medal .text {
	line-height: 150px;
}

.result .description {
	width: 15%;
	margin: 8px auto;
	text-align: left;
	font-size: 12px;
}

.result .text {
	margin: 20px 0;
}


.score .wrapper {
	display: flex;
	justify-content: center;
}

.score h1 {
	font-size: 25px;
	margin: 10px 10px 20px;
}
.score h2 {
	margin-bottom: 10px;
}

.score .wrapper .item_level {
	padding: 10px 20px;
	margin: 0px 20px 40px;
	border: solid 1px #663300;
	border-radius: 5px;
}
.score .wrapper .item_level .score_text {
	margin-bottom: 20px;
	text-align: left;
}

.score .item_medal img {
	width: 30%;
	vertical-align: middle;
}
.score .item_medal .text {
	margin-bottom: 10px;
}


/*---------------------------------------
スマートフォン
----------------------------------------*/
@media screen and (max-width: 767px) {

	.text_title {
		margin-bottom: 20px;
	}

	.question .select {
		flex-direction: column;
	}

	.item {
		margin-bottom: 20px;
	}


	.select .btn {
		width: 70%;
	}

	.item .correct img {
		width: 70%;
	}
	.item .text_q,
	.item .correct {
		font-size: 15px;
	}


	.result .wrapper {
		flex-direction: column;
		height: auto;
	}

	.result .description {
		width: 80%;
		padding-left: 30px;
	}

	.result .text_score {
		margin: 20px auto;
		padding-right: 0px;
	}

	.result .img_medal {
		padding-left: 0px;
		margin-bottom: 10px;
	}
	.result .item_medal .text {
		line-height: normal;
	}

	.result .item_medal {
		flex-direction: column;
		height: auto;
	}

	.result .text {
		margin: 10px 0;
	}

	.score .wrapper {
		flex-direction: column;
	}

}