@charset "UTF-8";

.question {
	text-align: center;
}

.text_title {
	font-size: 24px;
	margin-bottom: 5px;
	letter-spacing: 5px;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item .img {
	width: 30%;
}
.item .correct img {
	width: 40%;
	display: block;
	margin: auto;
}
.item .text_q,
.item .correct {
	width: 60%;
	margin-left: 30px;
	border: solid 1px #663300;
	border-radius: 5px;
	padding: 30px 10px;
	font-size: 20px;
	line-height: 2;
	position: relative;
}
.item .text_q::after,
.item .correct::after {/*吹き出しを作る*/
	content: "";
	width: 18px;
	height: 18px;
	background-color: #f5deb3;
	border-right: solid 1px #663300;
	border-bottom: solid 1px #663300;
	position: absolute;
	transform: rotate(135deg);
	top: 45%;
	left: -10px;
}

.select .btn {
	width: 30%;
	height: 50px;
	margin: 10px;
	padding: 5px 10px;
	color: #663300;
}
.select .btn:hover{
	opacity: 0.7;
}

.question .text {
	margin-top: 20px;
	padding-right: 10px;
	font-size: 12px;
	text-align: right;
}

.answer {
	text-align: center;
}
.answer .text {
	margin: 20px auto;
}


/*---------------------------------------
スマートフォン
----------------------------------------*/
@media screen and (max-width: 767px) {


}